{% extends 'base.html' %}
{% block content %}
{% include 'regis/html/base.html' %}
<li><a href="/regis/">Вернуться в меню</a></li>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <label>Создать лот в каталог</label>
           <form method="POST" enctype="multipart/form-data" id="lot_form">
                {% csrf_token %}
                {{ form.as_p }}
               <div id="image_box"></div>
               <input type="submit"  value="Создать лот">
            </form>



{% load static %}
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<script src="{% static 'regis/js/add_image_row.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'regis/css/create_lot.css' %}">
{% endblock %}