{% extends 'base.html' %}
{% block content %}
<li><a href="/regis/">Вернуться в меню</a></li>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <label>Создать лот в каталог</label>
           <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

               {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                {% endfor %}

                <input type="submit"  value="Создать лот">
            </form>



{% load static %}

{% endblock %}