{% extends 'base.html' %}
{% block content %}

<header>
<li><a href="/regis/create_lot/">Добавить лот в каталог</a></li>
<li><a href="/regis/edit_lot/">Изменить лот в каталоге</a></li>
<li><a href="/regis/delete_lot/">Удалить лот из каталога</a></li>
<li><a href="/regis/parse/">Пропарсить Соколов</a></li>
</header>

<p>Приветствуем, {{ user.username }}</p>

{% if not forms %}

<p>Запросов пока не поступало.</p>

{% endif %}

{% for form in forms %}
    <form action="." method="POST" class="request_form">
        {% csrf_token %}
        {{ form }}
    </form>
{% endfor %}

{% load static %}
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<script src="{% static 'regis/js/submit_answers.js' %}"></script>

{% endblock %}
