img {
    width: 420px;
    height: 320px;
}

.image_box {
    display: none;
}

#hoover_hide {
    display: none;
}

.main {
    display: block;
}

label {
    width: 100%;
}

.add_button {
    width: 50%;
    align-self: center;
    background: darkseagreen;
}

.confirm_button {
    width: 300px;
    height: 150px;
    background-color: green;
}
#id_purchase_amount {
    width: 50%;
}

.discard_item {
    height: 10%;
    width: 50%;
    align-self: center;
    background-color: #ff7676;
}

.discard_request {
    height: 10%;
    width: 50%;
    align-self: center;
    background-color: #ff7676;
}

#id_final_price{
    margin-bottom: 20px;
}

.post_block{
    display: grid;
    min-width: 400px;
    justify-content: center;
}

.plus {
    background:
        linear-gradient(#000,#000),
        linear-gradient(#000,#000);
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    width: 15px;
    height: 15px;
    border: #000;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    position: relative;
    left: 30%;
    bottom: 20px;
}

.minus {
    background:
        linear-gradient(#000,#000),
        linear-gradient(#000,#000);
    background-position:center;
    background-size: 50% 2px; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    width: 15px;
    height: 15px;
    border: #000;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    position: relative;
    right: 30%;
    bottom: 40px;
}

.amount_tools {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.show_box{
    width: 420px;
    height: 320px;
    align-self: center;
}

#cart_nav_icon{
    color: #42aaff;
}
