img {
    width: 100%;
    height: 320px;
}

.show_box {
    width: 100%;
    height: 360px;
}

.objectInteractionBox {
    position: relative;
    left: 30%;
    bottom: 30px;
}


.catalogForm {
    display: flow;
}


.image_box {
    display: none;
}

#hoover_hide {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

label {
    width: 100%;
}

.add_button {
    width: 50%;
    align-self: center;
    background: darkseagreen;
}

form {
    width: 80%;
    max-width: 600px;
}

#catalog_nav_icon{
    color: #783cc9;
}
