img {
    width: 100%;
    height: 320px;
}

.show_box {
    width: 100%;
}

.image_box {
    display: none;
}

.right_pointer {
    position: relative;
    left: 40%;
    bottom: 50%;
}

.left_pointer {
    position: relative;
    right: 40%;
    bottom: 50%;
}

svg {
    background-color: #cacaca;
	padding: 6px;
	border-radius: 100px;
}

#hoover_hide {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

label {
    width: 100%;
}

input {
 background: #ffdb99;
}

.add_button {
    width: 50%;
    align-self: center;
    background: darkseagreen;
}

form {
    width: 80%;
    max-width: 600px;
}
