[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
djangorestframework = "*"
requests = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
bs4 = "*"
selenium = "*"

[dev-packages]
