{% extends 'base.html' %}
{% block content %}
{% include 'authorisation/html/base.html' %}
{% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
<table>
        <tr>
            <th>Ник:</th>
            <td>{{ user.username }}</td>
            <th>Имя:</th>
            <td>{{ name }}</td>
            <th>Фамилия:</th>
            <td>{{ surname }}</td>
            <th>Отчество:</th>
            <td>{{ middle_name }}</td>
            <th>Email:</th>
            <td>{{ user.email }}</td>
            <th>Телефон:</th>
            <td>{{ phone }}</td>
            <th>Адресс курьерской доставки:</th>
            <td>{{ address }}</td>
        </tr>
</table>
<form action="{% url 'edit_account' %}" method="get">
    <input type="submit"  value="Настроить профиль">
</form>
<form action="{% url 'log_out' %}" method="get">
    <input type="submit"  value="Выйти из аккаунта">
</form>
{% endblock %}
