main {
    display: flex;
    flex-direction: column;
}

.parse_box {
    width: 80%;
    max-width: 600px;
    align-self: center;
}

.parse_button {
    width: 50%;
    align-self: center;
    background: darkseagreen;
    margin-top: 15px;
    border-radius: 6px;
}
