{% extends 'base.html' %}
{% block content %}

<div class="main">
{% for object in objects %}
<form method="POST" class="catalogForm">
    {% csrf_token %}
    <div class="show_box">
        <img src="#" class="image_to_show">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="none" viewBox="0 0 12 16" class="right_pointer" id="hoover_hide" display="none" >
            <path fill="currentColor" d="M7.23 8 3.86 4.64a.9.9 0 0 1 1.28-1.28l4 4a.9.9 0 0 1 0 1.28l-4 4a.9.9 0 0 1-1.28-1.28L7.23 8Z"></path>
        </svg>
        <svg fill="none" height="16" viewBox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg" class="left_pointer" id="hoover_hide" display="none">
            <path d="m4.77 8 3.37 3.36a.9.9 0 1 1-1.28 1.28l-4-4a.9.9 0 0 1 0-1.28l4-4a.9.9 0 1 1 1.28 1.28z" fill="currentColor"></path>
        </svg>

    </div>
    <div class="image_box">
    {% for image in object.images %}
        <img src="{{ image }}" />
    {% endfor %}
    </div>
    <div class="objectInteractionBox">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.01 16.136L4.141 4H3a1 1 0 0 1 0-2h1.985a.993.993 0 0 1 .66.235.997.997 0 0 1 .346.627L6.319 5H14v2H6.627l1.23 8h9.399l1.5-5h2.088l-1.886 6.287A1 1 0 0 1 18 17H7.016a.993.993 0 0 1-.675-.248.998.998 0 0 1-.332-.616zM10 20a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm9 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm0-18a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0V6h-1a1 1 0 1 1 0-2h1V3a1 1 0 0 1 1-1z" fill="#0D0D0D"/></svg>
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
        </div>
    <div>
    <p> {{ object.price }}₽</p>
    <p> {{ object.factory }}</p>
    <p> Тип: {{ object.type }}</p>
        </div>
</form>
{% endfor %}
</div>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/catalog.css' %}">
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<script src="{% static 'webapp/js/image_boxes.js' %}"></script>
<script src="{% static 'webapp/js/add_to_cart.js' %}"></script>

{% endblock %}
