{% extends 'base.html' %}
{% block content %}

<div class="main">
{% for object in objects %}
<form method="POST" class="catalogForm">
    {% csrf_token %}
    <div class="show_box">
        <img src="#" class="image_to_show">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="none" viewBox="0 0 12 16" class="right_pointer" id="hoover_hide" display="none" >
            <path fill="currentColor" d="M7.23 8 3.86 4.64a.9.9 0 0 1 1.28-1.28l4 4a.9.9 0 0 1 0 1.28l-4 4a.9.9 0 0 1-1.28-1.28L7.23 8Z"></path>
        </svg>
        <svg fill="none" height="16" viewBox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg" class="left_pointer" id="hoover_hide" display="none">
            <path d="m4.77 8 3.37 3.36a.9.9 0 1 1-1.28 1.28l-4-4a.9.9 0 0 1 0-1.28l4-4a.9.9 0 1 1 1.28 1.28z" fill="currentColor"></path>
        </svg>

    </div>
    <div class="image_box">
    {% for image in object.images %}
        <img src="{{ image }}" />
    {% endfor %}
    </div>
    <div class="objectInteractionBox">
            раз
            два
        </div>
    <div>
    <p> {{ object.price }}₽</p>
    <p> {{ object.factory }}</p>
    <p> Тип: {{ object.type }}</p>
        </div>
</form>
{% endfor %}
</div>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/catalog.css' %}">
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<script src="{% static 'webapp/js/image_boxes.js' %}"></script>
<script src="{% static 'webapp/js/add_to_cart.js' %}"></script>

{% endblock %}
