{% extends 'base.html' %}
{% block content %}
   <details>
    <summary>Сделать заказ по артикулу</summary>
      <div class="orderbox">
         <p>Ваш артикул:</p>
         <input id="aarticle">
         <p>Размер изделий:</p>
         <input id="asize">
         <p>Количество изделий:</p>
         <input id="aamount">
         <button id="abutton">
             Отправить запрос
         </button>
      </div>
   </details>
{% load static %}
   <script src="{% static 'webapp/js/main.js' %}"></script>
{% endblock %}
