{% extends 'base.html' %}
{% block content %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <details>
        <summary>Сделать заказ по артикулу</summary>
          <div class="order_box">
           <form action="{% url 'make_order' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit"  value="Отправить запрос">
            </form>
          </div>
    </details>

{% load static %}

<script src="{% static 'webapp/js/show_hide_size.js' %}"></script>

{% endblock %}
