<!DOCTYPE html>
<html>

<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="bottom_filler"></div>
    <footer  class="main_menu">
        <nav class="bottom_nav">
            <ul class="bottom_menu">
                {% if user.is_authenticated %}

                <li><a href="{% url 'account' %}">Профиль</a></li>

                {% endif %}

                {% if user.is_authenticated %}

                <li><a href="/webapp/">Каталог</a></li>

                {% endif %}

                {% if user.is_authenticated %}

                <li><a href="/webapp/make_order/">Сделать запрос</a></li>

                {% endif %}

                {% if user.is_authenticated %}

                <li><a href="/webapp/request_history/">История запросов</a></li>

                {% endif %}

                {% if user.is_superuser %}

                <li><a href="/regis/">Управление</a></li>

                {% endif %}
            </ul>
        </nav>
    </footer>

</body>

</html>