<!DOCTYPE html>
<html>

<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer  class="main_menu">
        <nav>
            <ul>
                {% if user.is_authenticated %}

                <li><a href="{% url 'account' %}">Профиль</a></li>

                {% endif %}
            </ul>
            <ul>
                {% if user.is_authenticated %}

                <li><a href="/webapp/">Каталог</a></li>

                {% endif %}

            </ul>
            <ul>

                {% if user.is_authenticated %}

                <li><a href="/webapp/make_order/">Сделать запрос</a></li>

                {% endif %}
            </ul>
            <ul>
                {% if user.is_authenticated %}

                <li><a href="/webapp/request_history/">История запросов</a></li>

                {% endif %}
            </ul>
            <ul>
                {% if user.is_superuser %}

                <li><a href="/regis/">Управление</a></li>

                {% endif %}
            </ul>
        </nav>
    </footer>

</body>

</html>